<div class="container-fluid">
    <div class="row">
        <div [class]="column" [ngClass]="">
            <h2 class="text-center">Movies Gallery</h2>
            <div class="row">
                <div class="col-sm-3" *ngFor="let movie of this.moviesGalleryService.movies" style="margin-top: 10px">
                    <div class="card h-100">
                        <div *ngIf="authService.isAuth === 'auth'">
                            <button class="btn btn-outline-warning star" *ngIf="!movie.onFav" (click)="addFav(movie.id)" ><i class="fa fa-star-o"></i></button>
                            <button class="btn btn-warning star" *ngIf="movie.onFav" (click)="removeFav(movie.id)" ><i class="fa fa-star"></i></button>
                        </div>
                        <button class="btn" (click)="showMore(movie)"><img class="img" [src]="movie.img" alt="Card image"></button>
                        <div class="card-block">
                            <p class="card-text text-center">{{movie.name}}</p>
                            <p class="card-text text-center">{{movie.year}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2" *ngIf="authService.isAuth === 'auth'">
            <h2 class="text-center">Favorite List</h2>
            <app-favorite-list></app-favorite-list>
        </div>
    </div>
</div>
<!--<app-modal-->
<!--&gt;</app-modal>-->








