.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0, .3);
}

.movieModal {
  padding: 1rem;
  background: #fff;
  margin-top: 3rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  max-width: 750px;
  min-width: 450px;
  max-height: 750px;
  min-height: 450px;
}

