@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";



.star {
  position: absolute;
}

.img {
  max-width: 200px;
  min-width: 150px;
  max-height: 200px;
  min-height: 150px;
  background-size: cover;
}

.imgModal {
  max-width: 300px;
  min-width: 150px;
  max-height: 300px;
  min-height: 150px;
  background-size: cover;
}

.removeLikedMovie {}

