@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";



.star {
  position: absolute;
}

.img {
  width: 200px;
  height: 200px;
  background-size: cover;
}

.imgModal {
  width: 200px;
  height: 200px;
  background-size: cover;
}

.removeLikedMovie {}

